@import "modal";
@import "variables";

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;

  .container {
    padding: 0 16px;
    @media (max-width: 767px) {
      padding: 0 10px;
    }
    @media (max-width: 479px) {
      padding: 0;
    }
  }

  .App{
    background-color: var(--color-neutrals-0);
    padding: 80px 0 40px;
    margin: 0 auto;
    font-weight: 400;
    max-width: 1200px;
  }

  h1{
    font-size: 32px;
    margin: 0 0 24px;
    font-weight: 700;
  }

  p{
    margin: 0;
  }

  .heading{
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    margin: 0;
    @media (max-width: 991px) {
      font-size: 22px;
      line-height: 28px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  h3{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 26px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
    @media (max-width: 479px) {
      font-size: 14px;
      line-height: 20px;
    }
  }


  .MuiList-root {
    overflow: inherit;
    a {
      text-decoration: none;
      color: var(--color-neutrals-1000);
    }
  }
  .MuiButton-root,
  .MuiInputBase-root,
  .MuiMenuItem-root,
  .MuiTooltip-tooltip,
  .MuiTypography-body1{
    font-family: 'Fira Sans', sans-serif;
    text-transform: none;
  }

  .w-50{
    width: 50%;
  }
  @media (max-width: 767px) {
    .w-100-mob{
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .d-flex{
    display: flex;
  }
  .space-between{
    justify-content: space-between;
  }
  .align-center{
    align-items: center;
  }

  .MuiButton-textPrimary,
  .MuiTypography-colorPrimary,
  .MuiPickersDay-current{
    color: var(--color-primary-500);
  }
  .MuiPickersDay-daySelected{
    color: var(--color-neutrals-0);
  }
  .MuiPickersDay-daySelected{
    background-color: var(--color-primary-500);
  }
  .MuiTreeItem-label{
    color: initial;
    &:hover{
      background-color: transparent;
    }
  }
}

img{
  max-width: 100%;
  height: auto;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}