.info{
  width: 35%;
  box-sizing: border-box;
  flex: none;

  border-right: none;
  padding: 40px 16px;
  position: relative;
  .info__avatar{
    width: 180px;
    height: 180px;
    border: 5px solid #154360;
    border-radius: 50%;
    margin: 0 auto 40px;
    padding: 16px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    input{
      max-width: 100%;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

