.experience{
  width: 100%;
  border: 1px solid gray;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  background-color: #fff;
  padding: 0 16px;
  .experience__header{
    background-color: green;
    margin: 50px -16px;
    padding: 16px;
  }
  .experience__block{
    padding: 0 16px;
    mix-blend-mode: difference;
    h2, h3 {
      .reorder {
        left: auto;
        right: -50px;
      }
    }
  }
}