.experience{
  width: 100%;
  border: 1px solid gray;
  background-color: #fff;
  padding: 0 16px;
  .experience__header{
    background-color: darkgrey;
    margin: 50px -16px;
    padding: 16px;
    h6{
      font-size: 18px;
    }
  }
  h2, h3, p {
    color: #030303;
  }
  h6{
    font-size: 14px;
  }
  .elements div.element {
    border-color: #030303;
  }
}