.header__wrapper{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  padding: 15px 0;
  max-width: 1200px;
  &.fixed{
    position: fixed;
    z-index: 1400;
    background: #fff;
    box-shadow: 3px 7px 15px 2px rgba(0,0,0,.15);
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__homepage{
      margin: 0;
      a{
        text-decoration: none;
        transition: .3s;
        font-size: 20px;
        font-weight: 600;
        &.active,
        &:hover{
          color: #39065a;
        }
      }
    }
    ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        margin-left: 10px;
        a, span{
          //color: #000;
          text-decoration: none;
          transition: .3s;
          cursor: pointer;
          &.active,
          &:hover{
            color: #39065a;
          }
        }
      }
    }
    a, span{
      color: #030303;
      font-size: 16px;
    }
  }
}
