.MuiFormControlLabel-root{
  .MuiSwitch-root{
    width: 56px;
    height: 40px;
    .MuiButtonBase-root{
      .MuiSwitch-thumb{
        width: 12px;
        height: 12px;
      }
    }
    .MuiSwitch-switchBase{
      padding: 14px;
      .MuiSwitch-track{
        background-color: var(--color-neutrals-400);
        opacity: 1;
      }
      &.Mui-checked{
        transform: translateX(16px);
        color: #fff;
        & + .MuiSwitch-track{
          background-color: var(--color-primary-500);
          opacity: 1;
        }
      }
    }
  }
  .MuiTypography-body1 {
    font-size: 12px;
    line-height: 16px;
    font-family: inherit;
    color: #030303;
  }
}